/* Reset */
* {
  padding: 0;
  margin: 0; }

/* Constantes */
.avisoTop, .carrucelIndex, .cursosCards, .cursosSection, .noticiasDiv {
  display: flex;
  justify-content: center; }

.textoResaltadoBold {
  color: #a43dff;
  font-weight: 700; }

.textoResaltado {
  color: #a43dff; }

.textoDifuminado {
  color: #b05afc;
  text-decoration: none; }

.colorBtn {
  color: #ffff;
  background-color: #a43dff;
  border-color: #a43dff; }

/* Index */
.avisoTop {
  background-color: #a43dff; }

.avisoTopText {
  color: #dee2e6;
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 0; }

.tituloNavbar {
  font-size: 1,25rem;
  font-weight: 700;
  color: #a43dff; }

.carrucelIndex {
  margin: 0.5rem; }

.opinionSection {
  margin: 1rem; }

.opinionEstrellasDiv {
  display: flex;
  justify-content: flex-end; }

.opinionEstrellasImg {
  width: 30%; }

/* Footer */
.footer {
  padding-top: 3rem;
  padding-bottom: 1rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  border-top: 1px solid #dee2e6; }

.footerRedes {
  flex-direction: column; }

/* Cursos */
.cursosSection {
  flex-wrap: wrap; }

/* Extensiones */
.extensionesDiv {
  display: flex;
  flex-wrap: wrap; }

.extensionesFlex {
  display: flex;
  flex-direction: row;
  height: 75%;
  flex-wrap: wrap;
  padding-top: 1.5rem; }

/* Noticias */
.noticiasDiv {
  flex-wrap: wrap;
  gap: 1.5rem; }

.noticiasCard {
  cursor: pointer;
  margin-bottom: 1rem; }

/* Contacto */
.tituloForms {
  font-size: 2rem;
  animation-name: fadeIn;
  animation-fill-mode: both;
  animation-duration: 2s; }

/* login */
.loginBody {
  background: #a43dff;
  background: linear-gradient(to right, #a43dff, #ff3d7e); }

.hypervinculo {
  color: #a43dff;
  text-decoration: none; }

.loginForm {
  background-color: white; }

.btn-logout {
  cursor: pointer;
  text-decoration: none; }

.userLogoutImg {
  width: 1.5rem;
  height: 1.5rem; }
