/* Constantes */


$colores:(
    primario:#a43dff,
    secundario:#dee2e6,
    terciario:#b05afc,

);

%flexcenter{
    display: flex;
    justify-content: center;
}


@mixin flexwrap ($flexwrap){
    flex-wrap: $flexwrap;
}



.textoResaltadoBold{
    color: map-get($colores, primario);
    font-weight: 700;
}

.textoResaltado{
    color: map-get($colores, primario);
}

.textoDifuminado{
    color: map-get($colores, terciario);
    text-decoration: none;
}

.colorBtn{
    color: #ffff;
    background-color: map-get($colores, primario);
    border-color: map-get($colores, primario);

}

