@import "reset";
@import "constantes";





/* Index */

.indexTemp{
    width: 20px;
}


.avisoTop{
    @extend %flexcenter;
    background-color: map-get($colores, primario);
}


.avisoTopText{
    color: map-get($colores, secundario);
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 0;
}

.tituloNavbar{
    font-size: 1,25rem;
    font-weight: 700;
    color: map-get($colores, primario);
}

.carrucelIndex{
    @extend %flexcenter;
    margin: 0.5rem;
}


.opinionSection{
    margin: 1rem;
}

.opinionEstrellasDiv{
    display: flex;
    justify-content: flex-end;
}

.opinionEstrellasImg{
    width: 30%;
}

/* Footer */
.footer{
    padding-top: 3rem;
    padding-bottom: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    border-top: 1px solid map-get($colores, secundario);
}

.footerRedes{
    @include flexdireccion(column);
}

/* Cursos */


.cursosCards{
    @extend %flexcenter;
}

.cursosSection{
    @extend %flexcenter;
    @include flexwrap(wrap);
}

.cardCustom{
    width: 18rem
}

/* Extensiones */


.extensionesDiv{
    display: flex;
    @include flexwrap(wrap);
}

.extensionesFlex{
    display: flex;
    @include flexdireccion(row);
    height: 75%;
    @include flexwrap(wrap);
    padding-top: 1.5rem;

}

/* Noticias */

.noticiasDiv{
    @extend %flexcenter;
    @include flexwrap(wrap);
    gap: 1.5rem;
    
}

.noticiasCard{
    cursor: pointer;
    margin-bottom: 1rem;
}


/* Contacto */


.tituloForms{
    font-size: 2rem;
    animation-name: fadeIn;
    animation-fill-mode: both;
    animation-duration: 2s;
}


/* login */

.loginBody{
    background: #a43dff;
    background: linear-gradient(to right, #a43dff, #ff3d7e);
}

.hypervinculo{
    color: map-get($colores, primario);
    text-decoration: none;
}

.loginForm{
    background-color: white;
}

.btn-logout{
    cursor: pointer;
    text-decoration: none;
}

.userLogoutImg{
    width: 1.5rem;
    height: 1.5rem;
}

.userError{
    color: red;
    font-size: 0.8rem;
}

.pwError{
    color: red;
    font-size: 0.8rem;
}
